<router-outlet />

<div class="intro">
  <h1>Koncertek</h1>
  <p>Fedezd fel a legjobb koncerteket és eseményeket!</p>
  <p>
    Itt megtalálod a legfrissebb koncerteket és eseményeket, amelyeket érdemes
    megnézni.
  </p>

  <div *ngIf="userIsLoggedIn; else notLoggedIn" class="logged-in">
    <p>Üdvözöljük, ANONYMOUS!</p>
    <p>Élvezd a kedvezményeket és az exkluzív ajánlatokat!</p>
  </div>

  <ng-template #notLoggedIn>
    <div class="not-logged-in">
      <p>Nem vagy bejelentkezve, így lemaradsz a kedvezményekről!</p>
    </div>
  </ng-template>
</div>

<app-auth-form (loginSuccess)="onUserLoggedIn()"></app-auth-form>

<div class="concert-list">
  @for (concert of concerts; track $index) {
  <app-concert-card
    [concert]="concert"
    (ticketPurchased)="onTicketPurchased($event)"
  ></app-concert-card>
  }
</div>
